<div id="<%= dom_id address %>">
  <p>
    <strong>company name:</strong>
    <%= address.company %>
  </p>

  <p>
    <strong>Address1:</strong>
    <%= address.address1 %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= address.address2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Zip5:</strong>
    <%= address.zip5 %>
  </p>

  <p>
    <strong>Zip4:</strong>
    <%= address.zip4 %>
  </p>

</div>
