<div class="row">
  <div class="col">
    <h4>Address</h4>
    <p style="color: green"><%= notice %></p>

    <%= render @address %>
    <% unless @address.standarized? %>
      <hr class="my-4">
      <%= link_to "Keep address as entered", addresses_path, class: 'w-100 btn btn-primary btn-lg' %>
    <% end %>
  </div>
  <div class="col">
    <% unless @address.standarized? %>
      <h4>Standarized Address (USPS Service)</h4>
      <%= render partial: "form", locals: { address: @address.standarize, readonly: true } %>
    <% end %>
  </div>
</div>
<hr class="my-4">
<%= link_to "Back to addresses", addresses_path, class: "btn btn-secondary" %>
